:root {
    --main-color: #c83c34;
    --nav-height: 110px;
    --pc-width: 10vw;
    --main-bg-color: #272e33;
    --text-width: 40vw;
}

#map {
    height: 55vh;
    width: calc(100vw - 2*var(--pc-width));
    z-index: 0;
}

.map-container {
    width: calc(100vw - 2*var(--pc-width));
    display: flex;
    align-items: stretch;
    background-color: var(--main-bg-color);
}

.map-text-container {
    background-color: var(--main-bg-color);
    width: fit-content;
    padding: 20px;
    margin: 0 20px;
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {

    :root {
        --pc-width: 1vw;
    }
}

@media only screen and (max-width: 600px) {

    .map-container {
        width: calc(100vw - 2*var(--pc-width));
        display: flex;
        flex-wrap: wrap;
        align-items:start;
        justify-content: center;
    }

    .map-text-container {
        display: none;
    }

}