@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

@font-face {
    font-family: titleFont;
    src: url('../img/font/riffic/RifficFree-Bold.ttf') format("truetype");
}

:root {
    --main-color: #c83c34;
    --nav-height: 110px;
    --pc-width: 10vw;
    --main-bg-color: #272e33;
    --text-width: 40vw;
    --secondary-color: white;
    --highlight-color: #ff6f61;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.title-page {
    width: 100vw;
    height: calc(100vh - var(--nav-height));
    margin: 0 calc(-1 * var(--pc-width));
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
}

.title-img {
    width: 100vw;
    height: calc(100vh - var(--nav-height));
    position: absolute;
    top: var(--nav-height);
    background-image: url('../img/Kian Drawing.jpg');
    background-size: cover;
    background-position: left;
    filter: brightness(0.75);
}

.name-start {
    margin: 0 var(--pc-width);
    z-index: 1;
    text-align: left;
}

.title-name {
    max-width: var(--text-width);
    font-family: titleFont, serif;
    font-size: 80px;
    font-weight: 900;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-signin {
    font-weight: 700;
    font-size: large;
    color: white;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 15px;
    border: 5px solid white;
    width: max-content;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.title-signin:hover {
    transform: scale(1.1);
    background-color: var(--highlight-color);
}

.rules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.rules a {
    text-decoration: none;
}

.rules-text {
    max-width: 60%;
}

@media only screen and (max-width: 1200px) {
    :root {
        --pc-width: 5vw;
        --text-width: 90vw;
    }

    .title-name {
        font-size: 50px;
    }

    .rules {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding: 0;
    }

    .title-img {
        background-position: center;
    }
}
