:root {
    --main-color: #c83c34;
    --nav-height: 110px;
    --pc-width: 5vw;
    --main-bg-color: #272e33;
    --text-width: 40vw;
}

/*---------------------- Main ----------------------------*/

.team-user-all {
    background-color: var(--main-color);
}

.team-user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.team-user-img img {
    background-color:rgb(255, 255, 255);
    padding: 20px;
    border: 3px solid var(--main-bg-color);
}

@media only screen and (max-width: 1200px) {

    :root {
        --pc-width: 5vw;
        --text-width: 90vw;
    }
}

@media only screen and (max-width: 1050px) {
    .vorstand-user-all {
        display: flex;
        flex-direction: column;
        width: calc(100 - 2*var(--pc-width));
        align-items: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 800px) {


    .uber-uns-elena-text, 
    .uber-uns-elena-img img {
        max-width: calc(60vw - 2*(var(--pc-width)));
    }

    .uber-uns-elena-text-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .uber-uns-elena-text{
        max-width: calc(100vw - 4*(var(--pc-width)));
    }
} 