:root {
    --main-color: #c83c34;
    --nav-height: 110px;
    --pc-width: 20vw;
    --main-bg-color: #272e33;
    --text-width: 40vw;
}

/*---------------------- Main ----------------------------*/

/* .uber-uns-elena-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

/* .uber-uns-elena-text {
    max-width: calc((var(--pc-width) * 3) / 2);
}

.uber-uns-elena-img img {
    max-width: calc((var(--pc-width) * 3) / 3.5);
    box-shadow: 10px 10px var(--main-bg-color);
} */

.vorstand-user-all {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .vorstand-user {
    flex: 0 0 auto;
    border: 5px solid var(--main-bg-color);
    border-radius: 20px;
    background-color: white;
    filter:drop-shadow(10px 10px 3px var(--main-bg-color));
    padding-bottom: 15px;
  }
  
  .vorstand-user img {
    max-width: 250px;
    border-radius: 15px 15px 0 0;
  }

  .springer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media only screen and (max-width: 1200px) {

    :root {
        --pc-width: 5vw;
        --text-width: 90vw;
    }

    .uber-uns-elena-text {
        max-width: 40vw;
    }
    
    .uber-uns-elena-img img {
        max-width: 33vw;
    }    
}

@media only screen and (max-width: 1050px) {
    .vorstand-user-all {
        display: flex;
        flex-direction: column;
        width: calc(100 - 2*var(--pc-width));
        align-items: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 800px) {


    .uber-uns-elena-text, 
    .uber-uns-elena-img img {
        max-width: calc(60vw - 2*(var(--pc-width)));
    }

    .uber-uns-elena-text-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .uber-uns-elena-text{
        max-width: calc(100vw - 4*(var(--pc-width)));
    }
} 